In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")


new_row_data = {
    'ReferenceID': -1,
    'Title': 'Materials Project',
}

new_row_df = pd.DataFrame([new_row_data])


new_row_df.index = [None]


table_name = 'LitReferences'


new_row_df.to_sql(table_name, con=engine, if_exists='append', index=False)


print("New row inserted successfully.")

New row inserted successfully.

In [2]:
import pandas as pd

In [3]:
elem_one = pd.read_csv("elem_one.csv")

In [5]:
elem_one.head()
elem_one = elem_one.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])

In [6]:
elem_one.head()

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,Pnnm,NaN,NaN,NaN,1.5349,1.5349,True,NaN,100,2024-05-11 01:44:05.607296
1,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,P4<sub>2</sub>/nnm,NaN,NaN,NaN,0.0000,0.0000,True,NaN,100,2024-05-11 01:44:05.607296
2,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,Fm-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,100,2024-05-11 01:44:05.607296
3,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,R-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,100,2024-05-11 01:44:05.607296
4,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,P2/c,NaN,NaN,NaN,0.5976,0.5976,True,NaN,100,2024-05-11 01:44:05.607296

In [7]:
elem_one["ReferenceID"] = -1

In [8]:
elem_one.head()

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,Pnnm,NaN,NaN,NaN,1.5349,1.5349,True,NaN,-1,2024-05-11 01:44:05.607296
1,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,P4<sub>2</sub>/nnm,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,Fm-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
3,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,R-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
4,1,1,B,NaN,0,NaN,0,NaN,0,NaN,...,P2/c,NaN,NaN,NaN,0.5976,0.5976,True,NaN,-1,2024-05-11 01:44:05.607296

In [9]:
elem_one.columns

Index(['SubstanceID', 'NumElements', 'El1', 'X1', 'El2', 'X2', 'El3', 'X3',
       'El4', 'X4', 'Elements', 'Compound', '_DateSubstances', 'Modification',
       'CrystalSystem', 'StructureType', 'SpaceGroup', 'Direction',
       'Temperature1', 'Temperature2', 'E1', 'E2', 'IsCalculated', 'Comments',
       'ReferenceID', '_DateGap'],
      dtype='object')

In [12]:
len(elem_one["Compound"])

230

In [13]:
elem_two = pd.read_csv("elem_two.csv")

In [14]:
elem_two.head()

,Unnamed: 0.1,Unnamed: 0,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,0,0,3249,2,Cs,1,Au,1,0,NaN,...,Pm-3m,NaN,NaN,NaN,1.9857,1.9857,True,NaN,-1,2024-05-11 01:44:05.607296
1,1,1,3250,2,Li,3,Sb,1,0,NaN,...,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.5664,0.5664,True,NaN,-1,2024-05-11 01:44:05.607296
2,2,2,3250,2,Li,3,Sb,1,0,NaN,...,Fm-3m,NaN,NaN,NaN,0.8067,0.8067,True,NaN,-1,2024-05-11 01:44:05.607296
3,3,3,3251,2,Li,3,Bi,1,0,NaN,...,Fm-3m,NaN,NaN,NaN,0.3799,0.3799,True,NaN,-1,2024-05-11 01:44:05.607296
4,4,4,3252,2,Na,3,As,1,0,NaN,...,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.0922,0.0922,True,NaN,-1,2024-05-11 01:44:05.607296

In [15]:
elem_two = elem_two.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])

In [19]:
len(elem_two["Compound"])

2736

In [17]:
elem_three = pd.read_csv("elem_three.csv")
elem_three.head()

,Unnamed: 0,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,0,484,3,Na,2,Rb,1,Sb,1,NaN,...,Fm-3m,NaN,NaN,NaN,0.5682,0.5682,True,NaN,-1,2024-05-11 01:44:05.607296
1,1,485,3,Na,2,Cs,1,Sb,1,NaN,...,Immm,NaN,NaN,NaN,0.0001,0.0001,True,NaN,-1,2024-05-11 01:44:05.607296
2,2,486,3,K,2,Rb,1,Sb,1,NaN,...,Fm-3m,NaN,NaN,NaN,0.6879,0.6879,True,NaN,-1,2024-05-11 01:44:05.607296
3,3,487,3,Rb,2,Cs,1,Sb,1,NaN,...,Fm-3m,NaN,NaN,NaN,0.6602,0.6602,True,NaN,-1,2024-05-11 01:44:05.607296
4,4,488,3,K,2,Cs,1,Sb,1,NaN,...,Fm-3m,NaN,NaN,NaN,0.8614,0.8614,True,NaN,-1,2024-05-11 01:44:05.607296

In [20]:
elem_three = elem_three.drop(columns=["Unnamed: 0"])

In [21]:
elem_three.head()

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,484,3,Na,2,Rb,1,Sb,1,NaN,0,...,Fm-3m,NaN,NaN,NaN,0.5682,0.5682,True,NaN,-1,2024-05-11 01:44:05.607296
1,485,3,Na,2,Cs,1,Sb,1,NaN,0,...,Immm,NaN,NaN,NaN,0.0001,0.0001,True,NaN,-1,2024-05-11 01:44:05.607296
2,486,3,K,2,Rb,1,Sb,1,NaN,0,...,Fm-3m,NaN,NaN,NaN,0.6879,0.6879,True,NaN,-1,2024-05-11 01:44:05.607296
3,487,3,Rb,2,Cs,1,Sb,1,NaN,0,...,Fm-3m,NaN,NaN,NaN,0.6602,0.6602,True,NaN,-1,2024-05-11 01:44:05.607296
4,488,3,K,2,Cs,1,Sb,1,NaN,0,...,Fm-3m,NaN,NaN,NaN,0.8614,0.8614,True,NaN,-1,2024-05-11 01:44:05.607296

In [22]:
len(elem_three["Compound"])

1565

In [23]:
elem_four = pd.read_csv("elem_four.csv")
elem_four.head()

,Unnamed: 0,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,0,1194,4,Cu,1,Pb,1,Bi,1,S,...,Pnma,NaN,NaN,NaN,0.6519,0.6519,True,NaN,-1,2024-05-11 01:44:05.607296
1,1,1195,4,Ag,1,Pb,1,Bi,1,S,...,Imm2,NaN,NaN,NaN,0.9371,0.9371,True,NaN,-1,2024-05-11 01:44:05.607296
2,2,1196,4,Rb,1,Cu,2,V,1,S,...,Ama2,NaN,NaN,NaN,1.1946,1.1946,True,NaN,-1,2024-05-11 01:44:05.607296
3,3,1201,4,Fe,1,F,1,Sr,2,O,...,I4mm,NaN,NaN,NaN,0.9804,0.9804,True,NaN,-1,2024-05-11 01:44:05.607296
4,4,1201,4,Fe,1,F,1,Sr,2,O,...,P4/nmm,NaN,NaN,NaN,1.2045,1.2045,True,NaN,-1,2024-05-11 01:44:05.607296

In [24]:
elem_four = elem_four.drop(columns=["Unnamed: 0"])

In [26]:
len(elem_four["Compound"])

900

In [27]:
elem_five = pd.read_csv("elem_five.csv")
elem_five.head()

,Unnamed: 0.1,Unnamed: 0,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,0,0,2108,2,NaN,NaN,NaN,NaN,NaN,NaN,...,P2<sub>1</sub>/c,NaN,NaN,NaN,1.4803,1.4803,True,NaN,100,2024-05-11 01:44:05.607296
1,1,1,2171,2,NaN,NaN,NaN,NaN,NaN,NaN,...,P1,NaN,NaN,NaN,2.2023,2.2023,True,NaN,100,2024-05-11 01:44:05.607296
2,2,2,2230,2,NaN,NaN,NaN,NaN,NaN,NaN,...,P2<sub>1</sub>/c,NaN,NaN,NaN,5.6243,5.6243,True,NaN,100,2024-05-11 01:44:05.607296
3,3,3,2902,2,NaN,NaN,NaN,NaN,NaN,NaN,...,P1,NaN,NaN,NaN,2.2200,2.2200,True,NaN,100,2024-05-11 01:44:05.607296
4,4,4,2903,2,NaN,NaN,NaN,NaN,NaN,NaN,...,P1,NaN,NaN,NaN,2.2254,2.2254,True,NaN,100,2024-05-11 01:44:05.607296

In [28]:
elem_five = elem_five.drop(columns=["Unnamed: 0.1", "Unnamed: 0"])

In [29]:
elem_five.head()

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,2108,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P2<sub>1</sub>/c,NaN,NaN,NaN,1.4803,1.4803,True,NaN,100,2024-05-11 01:44:05.607296
1,2171,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P1,NaN,NaN,NaN,2.2023,2.2023,True,NaN,100,2024-05-11 01:44:05.607296
2,2230,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P2<sub>1</sub>/c,NaN,NaN,NaN,5.6243,5.6243,True,NaN,100,2024-05-11 01:44:05.607296
3,2902,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P1,NaN,NaN,NaN,2.2200,2.2200,True,NaN,100,2024-05-11 01:44:05.607296
4,2903,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,P1,NaN,NaN,NaN,2.2254,2.2254,True,NaN,100,2024-05-11 01:44:05.607296

In [30]:
elem_five["X1"] = 0
elem_five["X2"] = 0
elem_five["X3"] = 0
elem_five["X4"] = 0
elem_five["ReferenceID"] = -1
elem_five.head()

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,...,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,2108,2,NaN,0,NaN,0,NaN,0,NaN,0,...,P2<sub>1</sub>/c,NaN,NaN,NaN,1.4803,1.4803,True,NaN,-1,2024-05-11 01:44:05.607296
1,2171,2,NaN,0,NaN,0,NaN,0,NaN,0,...,P1,NaN,NaN,NaN,2.2023,2.2023,True,NaN,-1,2024-05-11 01:44:05.607296
2,2230,2,NaN,0,NaN,0,NaN,0,NaN,0,...,P2<sub>1</sub>/c,NaN,NaN,NaN,5.6243,5.6243,True,NaN,-1,2024-05-11 01:44:05.607296
3,2902,2,NaN,0,NaN,0,NaN,0,NaN,0,...,P1,NaN,NaN,NaN,2.2200,2.2200,True,NaN,-1,2024-05-11 01:44:05.607296
4,2903,2,NaN,0,NaN,0,NaN,0,NaN,0,...,P1,NaN,NaN,NaN,2.2254,2.2254,True,NaN,-1,2024-05-11 01:44:05.607296

In [31]:
len(elem_five["Compound"])

13

In [50]:
pd.set_option('display.max_columns', None)
common_table = pd.concat([elem_one, elem_two, elem_three, elem_four, elem_five], join='inner', ignore_index=True).reset_index(drop=True)
common_table[common_table['NumElements'] == 2]

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,Elements,Compound,_DateSubstances,Modification,CrystalSystem,StructureType,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
230,3249,2,Cs,1.0,Au,1.0,0,NaN,0,NaN,NaN,CsAu,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Pm-3m,NaN,NaN,NaN,1.9857,1.9857,True,NaN,-1,2024-05-11 01:44:05.607296
231,3250,2,Li,3.0,Sb,1.0,0,NaN,0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.5664,0.5664,True,NaN,-1,2024-05-11 01:44:05.607296
232,3250,2,Li,3.0,Sb,1.0,0,NaN,0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.8067,0.8067,True,NaN,-1,2024-05-11 01:44:05.607296
233,3251,2,Li,3.0,Bi,1.0,0,NaN,0,NaN,NaN,Li<sub>3</sub>Bi,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.3799,0.3799,True,NaN,-1,2024-05-11 01:44:05.607296
234,3252,2,Na,3.0,As,1.0,0,NaN,0,NaN,NaN,Na<sub>3</sub>As,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.0922,0.0922,True,NaN,-1,2024-05-11 01:44:05.607296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5439,4322,2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,Pb<sub>2</sub>NbO<sub>2</sub>(SeO<sub>3</sub>)...,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>,NaN,NaN,NaN,2.3729,2.3729,True,NaN,-1,2024-05-11 01:44:05.607296
5440,4520,2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,KBaTeBiO<sub>6</sub>,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>/m,NaN,NaN,NaN,1.5986,1.5986,True,NaN,-1,2024-05-11 01:44:05.607296
5441,4528,2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,Na<sub>2</sub>Y<sub>2</sub>TeB<sub>2</sub>O<su...,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>/c,NaN,NaN,NaN,3.1170,3.1170,True,NaN,-1,2024-05-11 01:44:05.607296
5442,4922,2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,Ba<sub>6</sub>Ag<sub>2</sub>CdSn<sub>4</sub>S<...,2024-05-11 01:44:05.607296,NaN,tetragonal,NaN,I-42d,NaN,NaN,NaN,1.7026,1.7026,True,NaN,-1,2024-05-11 01:44:05.607296
5443,5840,2,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,LaCaGa<sub>3</sub>OS<sub>6</sub>,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>,NaN,NaN,NaN,2.6334,2.6334,True,NaN,-1,2024-05-11 01:44:05.607296

In [48]:
for x in [elem_one, elem_two, elem_three, elem_four, elem_five]:
    print(x['El1'].isna().sum())

0
0
0
0
13

In [44]:
elem_two['El1'].unique()

array(['Cs', 'Li', 'Na', 'K', 'Rb', 'Cu', 'Ag', 'Mg', 'Ca', 'Ba', 'Sr',
       'Zn', 'Cd', 'Hg', 'Be', 'Ce', 'B', 'As', 'Sm', 'Eu', 'Yb', 'Al',
       'Ga', 'In', 'Tl', 'Si', 'Mn', 'Ge', 'Sn', 'Pb', 'Zr', 'Hf', 'Ta',
       'Sb', 'Bi', 'P', 'Nb', 'Cr', 'Mo', 'W', 'Te', 'Tc', 'Re', 'Ti',
       'Rh', 'Pd', 'Pt', 'Ni', 'U', 'Fe', 'Sc', 'La', 'Nd', 'Y', 'Gd',
       'Tb', 'Dy', 'Ho', 'Er', 'Tm', 'Lu', 'V', 'Co', 'Pr', 'Pu', 'Ru',
       'Os', 'Ir', 'Th', 'C'], dtype=object)

In [45]:
elem_two['El1'].isna().sum()

0

In [52]:

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")

query = "SELECT * FROM GapAll WHERE NumElements = 2;"
sql_two_elem = pd.read_sql(query, engine)

# Выведите первые несколько строк DataFrame для проверки
sql_two_elem.head()
sql_two_elem.to_csv('sql_two_elem.csv', index=True)

In [53]:
elem_two.columns

Index(['SubstanceID', 'NumElements', 'El1', 'X1', 'El2', 'X2', 'El3', 'X3',
       'El4', 'X4', 'Elements', 'Compound', '_DateSubstances', 'Modification',
       'CrystalSystem', 'StructureType', 'SpaceGroup', 'Direction',
       'Temperature1', 'Temperature2', 'E1', 'E2', 'IsCalculated', 'Comments',
       'ReferenceID', '_DateGap'],
      dtype='object')

In [71]:
elem_two = elem_two.rename(columns={'_date': '_DateGap'})
elem_two.head()

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,Elements,Compound,_DateSubstances,Modification,CrystalSystem,StructureType,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,3249,2,Cs,1,Au,1,0,NaN,0,NaN,NaN,CsAu,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Pm-3m,NaN,NaN,NaN,1.9857,1.9857,True,NaN,-1,2024-05-11 01:44:05.607296
1,3250,2,Li,3,Sb,1,0,NaN,0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.5664,0.5664,True,NaN,-1,2024-05-11 01:44:05.607296
2,3250,2,Li,3,Sb,1,0,NaN,0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.8067,0.8067,True,NaN,-1,2024-05-11 01:44:05.607296
3,3251,2,Li,3,Bi,1,0,NaN,0,NaN,NaN,Li<sub>3</sub>Bi,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.3799,0.3799,True,NaN,-1,2024-05-11 01:44:05.607296
4,3252,2,Na,3,As,1,0,NaN,0,NaN,NaN,Na<sub>3</sub>As,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.0922,0.0922,True,NaN,-1,2024-05-11 01:44:05.607296

In [91]:
import pandas as pd

combined_df = pd.concat([elem_two, elem_one], ignore_index=True)
combined_df.head(100)

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,Elements,Compound,_DateSubstances,Modification,CrystalSystem,StructureType,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
0,3249,2,Cs,1.0,Au,1.0,0,NaN,0,NaN,NaN,CsAu,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Pm-3m,NaN,NaN,NaN,1.9857,1.9857,True,NaN,-1,2024-05-11 01:44:05.607296
1,3250,2,Li,3.0,Sb,1.0,0,NaN,0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.5664,0.5664,True,NaN,-1,2024-05-11 01:44:05.607296
2,3250,2,Li,3.0,Sb,1.0,0,NaN,0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.8067,0.8067,True,NaN,-1,2024-05-11 01:44:05.607296
3,3251,2,Li,3.0,Bi,1.0,0,NaN,0,NaN,NaN,Li<sub>3</sub>Bi,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.3799,0.3799,True,NaN,-1,2024-05-11 01:44:05.607296
4,3252,2,Na,3.0,As,1.0,0,NaN,0,NaN,NaN,Na<sub>3</sub>As,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.0922,0.0922,True,NaN,-1,2024-05-11 01:44:05.607296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3284,2,Ag,1.0,I,1.0,0,NaN,0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6mm,NaN,NaN,NaN,1.8795,1.8795,True,NaN,-1,2024-05-11 01:44:05.607296
96,3284,2,Ag,1.0,I,1.0,0,NaN,0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>mc,NaN,NaN,NaN,1.3759,1.3759,True,NaN,-1,2024-05-11 01:44:05.607296
97,3284,2,Ag,1.0,I,1.0,0,NaN,0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>/m,NaN,NaN,NaN,1.4012,1.4012,True,NaN,-1,2024-05-11 01:44:05.607296
98,3284,2,Ag,1.0,I,1.0,0,NaN,0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,cubic,NaN,F-43m,NaN,NaN,NaN,1.7236,1.7236,True,NaN,-1,2024-05-11 01:44:05.607296
99,3284,2,Ag,1.0,I,1.0,0,NaN,0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Pm-3m,NaN,NaN,NaN,0.4700,0.4700,True,NaN,-1,2024-05-11 01:44:05.607296

In [92]:
new_df = pd.concat([combined_df, elem_three], ignore_index=True)

In [93]:
four = pd.concat([new_df, elem_four], ignore_index=True)

In [128]:
five = pd.concat([four, elem_five], ignore_index=True)

In [129]:
five['NumElements'].unique()

array([2, 1, 3, 4, 5])

In [96]:
new_df[new_df['NumElements'] == 1]['El1'].unique()

array(['Cs', 'Li', 'Na', 'K', 'Rb', 'Cu', 'Ag', 'Mg', 'Ca', 'Ba', 'Sr',
       'Zn', 'Cd', 'Hg', 'Be', 'Ce', 'B', 'As', 'Sm', 'Eu', 'Yb', 'Al',
       'Ga', 'In', 'Tl', 'Si', 'Mn', 'Ge', 'Sn', 'Pb', 'Zr', 'Hf', 'Ta',
       'Sb', 'Bi', 'P', 'Nb', 'Cr', 'Mo', 'W', 'Te', 'Tc', 'Re', 'Ti',
       'Rh', 'Pd', 'Pt', 'Ni', 'U', 'Fe', 'Sc', 'La', 'Nd', 'Y', 'Gd',
       'Tb', 'Dy', 'Ho', 'Er', 'Tm', 'Lu', 'V', 'Co', 'Pr', 'Pu', 'Ru',
       'Os', 'Ir', 'Th', 'C'], dtype=object)

In [99]:
five[five['NumElements'] == 1]

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,Elements,Compound,_DateSubstances,Modification,CrystalSystem,StructureType,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap
2736,1,1,B,NaN,0,NaN,0,NaN,0.0,NaN,NaN,B,2024-05-11 01:44:05.607296,NaN,orthorhombic,NaN,Pnnm,NaN,NaN,NaN,1.5349,1.5349,True,NaN,-1,2024-05-11 01:44:05.607296
2737,1,1,B,NaN,0,NaN,0,NaN,0.0,NaN,NaN,B,2024-05-11 01:44:05.607296,NaN,tetragonal,NaN,P4<sub>2</sub>/nnm,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2738,1,1,B,NaN,0,NaN,0,NaN,0.0,NaN,NaN,B,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2739,1,1,B,NaN,0,NaN,0,NaN,0.0,NaN,NaN,B,2024-05-11 01:44:05.607296,NaN,trigonal,NaN,R-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2740,1,1,B,NaN,0,NaN,0,NaN,0.0,NaN,NaN,B,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2/c,NaN,NaN,NaN,0.5976,0.5976,True,NaN,-1,2024-05-11 01:44:05.607296
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,13,1,Bi,NaN,0,NaN,0,NaN,0.0,NaN,NaN,Bi,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Im-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2962,13,1,Bi,NaN,0,NaN,0,NaN,0.0,NaN,NaN,Bi,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,C2/m,NaN,NaN,NaN,1.4417,1.4417,True,NaN,-1,2024-05-11 01:44:05.607296
2963,13,1,Bi,NaN,0,NaN,0,NaN,0.0,NaN,NaN,Bi,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>/m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2964,4948,1,Au,NaN,0,NaN,0,NaN,0.0,NaN,NaN,Au,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296
2965,4948,1,Au,NaN,0,NaN,0,NaN,0.0,NaN,NaN,Au,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.0000,0.0000,True,NaN,-1,2024-05-11 01:44:05.607296

In [131]:
final_table_from_MP = five

In [103]:
final_table_from_MP.to_csv('final_table_from_MP.csv', index=True)

In [137]:

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")

query = "SELECT * FROM GapAll WHERE NumElements = 1;"
sql_one_elem = pd.read_sql(query, engine)
print(len(sql_one_elem['Compound']))

sql_one_elem = sql_one_elem[sql_one_elem['Compound'].isin(elem_one['Compound'])]
print(len(sql_one_elem['Compound']))

198
198

In [139]:
model_table = pd.concat([final_table_from_MP, sql_one_elem], ignore_index=True)

In [140]:
len(model_table['Comments'])

5642

In [141]:

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")

query = "SELECT * FROM GapAll WHERE NumElements = 2;"
sql_two_elem = pd.read_sql(query, engine)

print(len(sql_two_elem['Compound']))

sql_two_elem = sql_two_elem[sql_two_elem['Compound'].isin(elem_two['Compound'])]
print(len(sql_two_elem['Compound']))

3247
3045

In [142]:
model_table = pd.concat([model_table, sql_two_elem], ignore_index=True)

In [143]:
len(model_table['Comments'])

8687

In [144]:

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")

query = "SELECT * FROM GapAll WHERE NumElements = 3;"
sql_three_elem = pd.read_sql(query, engine)


print(len(sql_three_elem['Compound']))

sql_three_elem = sql_three_elem[sql_three_elem['Compound'].isin(elem_three['Compound'])]
print(len(sql_three_elem['Compound']))

3539
2213

In [145]:
model_table = pd.concat([model_table, sql_three_elem], ignore_index=True)

In [146]:
len(model_table['Comments'])

10900

In [147]:

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")

query = "SELECT * FROM GapAll WHERE NumElements = 4;"
sql_four_elem = pd.read_sql(query, engine)

print(len(sql_four_elem['Compound']))

sql_four_elem = sql_four_elem[sql_four_elem['Compound'].isin(elem_four['Compound'])]
print(len(sql_four_elem['Compound']))

3682
991

In [148]:
model_table = pd.concat([model_table, sql_four_elem], ignore_index=True)

In [149]:
len(model_table['Comments'])

11891

In [150]:

engine = create_engine("mssql+pyodbc://SA:ANELE$1967_@localhost/YourDatabaseName?driver=ODBC+Driver+17+for+SQL+Server")
query = "SELECT * FROM GapAll WHERE NumElements = 5;"
sql_five_elem = pd.read_sql(query, engine)

print(len(sql_five_elem['Compound']))

sql_five_elem = sql_five_elem[sql_five_elem['Compound'].isin(elem_five['Compound'])]
print(len(sql_five_elem['Compound']))

407
22

In [151]:
model_table = pd.concat([model_table, sql_five_elem], ignore_index=True)

In [152]:
len(model_table['Comments'])

11913

In [153]:
final_table_for_model = model_table.to_csv('final_table_for_model.csv', index=True, escapechar='\\')

In [167]:
model_table.head(100)

,SubstanceID,NumElements,El1,X1,El2,X2,El3,X3,El4,X4,Elements,Compound,_DateSubstances,Modification,CrystalSystem,StructureType,SpaceGroup,Direction,Temperature1,Temperature2,E1,E2,IsCalculated,Comments,ReferenceID,_DateGap,PrimaryKey
0,3249,2,Cs,1.0,Au,1.0,0,NaN,0.0,NaN,NaN,CsAu,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Pm-3m,NaN,NaN,NaN,1.9857,1.9857,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
1,3250,2,Li,3.0,Sb,1.0,0,NaN,0.0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.5664,0.5664,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
2,3250,2,Li,3.0,Sb,1.0,0,NaN,0.0,NaN,NaN,Li<sub>3</sub>Sb,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.8067,0.8067,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
3,3251,2,Li,3.0,Bi,1.0,0,NaN,0.0,NaN,NaN,Li<sub>3</sub>Bi,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Fm-3m,NaN,NaN,NaN,0.3799,0.3799,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
4,3252,2,Na,3.0,As,1.0,0,NaN,0.0,NaN,NaN,Na<sub>3</sub>As,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>/mmc,NaN,NaN,NaN,0.0922,0.0922,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3284,2,Ag,1.0,I,1.0,0,NaN,0.0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6mm,NaN,NaN,NaN,1.8795,1.8795,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
96,3284,2,Ag,1.0,I,1.0,0,NaN,0.0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,hexagonal,NaN,P6<sub>3</sub>mc,NaN,NaN,NaN,1.3759,1.3759,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
97,3284,2,Ag,1.0,I,1.0,0,NaN,0.0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,monoclinic,NaN,P2<sub>1</sub>/m,NaN,NaN,NaN,1.4012,1.4012,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
98,3284,2,Ag,1.0,I,1.0,0,NaN,0.0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,cubic,NaN,F-43m,NaN,NaN,NaN,1.7236,1.7236,True,NaN,-1,2024-05-11 01:44:05.607296,NaN
99,3284,2,Ag,1.0,I,1.0,0,NaN,0.0,NaN,NaN,AgI,2024-05-11 01:44:05.607296,NaN,cubic,NaN,Pm-3m,NaN,NaN,NaN,0.4700,0.4700,True,NaN,-1,2024-05-11 01:44:05.607296,NaN